<div>
    <h2>Phone Numbers</h2>
    <div>
      <!-- <select (change)="filter($any($event.target).value)"> -->
      <select [(ngModel)]="countryFilter" (change)="filter()">
        <option [value]="data.country_name" *ngFor="let data of mydata['country_codes']">{{data.country_name}}</option>
      </select>
    </div> 
    <div>
      <select [(ngModel)]="stateFilter" [name]="stateFilter" (change)="filter()">
        <option value="OK">Valid Phone Numbers</option>
        <option value="NOK">Invalid Phone Numbers</option>
      </select>
  </div> 
  <div style="margin:0 30px;">
    <table>
        <tr>
            <th>Country</th>
            <th>State</th>
            <th>Country Code</th>
            <th>Phone number</th>
        </tr>
        <tr *ngFor="let data of mydata['users']">
            <td>{{ data.country_name }}</td>
            <td>{{ data.state }}</td>
            <td>{{ data.country_code }}</td>
            <td>{{ data.phone }}</td>
        </tr>
    </table>
  </div>
</div>