<div class="container">
    <h2>Phone Numbers</h2>
    <div class="floated">
      <select  name="country" class="floated"  (change)="filter($event)" >
        <option value="null"  selected hidden>Country Name</option>
        <option [value]="data.country_name" *ngFor="let data of mydata['country_codes']">{{data.country_name}}</option>
      </select>
    </div> 
    <div >
      <select name = "state" class="floated" (change)="filter($event)">
          <!-- <option value="null"  selected hidden>Choose a drink</option> -->
          <option [ngValue]="null"  selected hidden>Phone Numbers</option>
          <option [value]="data.value" *ngFor="let data of stateArray" >{{data.title}}</option>
      </select>
  </div> 
  <div style="margin:0 30px;">
    <table>
        <tr>
            <th>Country</th>
            <th>State</th>
            <th>Country Code</th>
            <th>Phone number</th>
        </tr>
        <tr *ngFor="let data of mydata['users']">
            <td>{{ data.country_name }}</td>
            <td>{{ data.state }}</td>
            <td>{{ data.country_code }}</td>
            <td>{{ data.phone }}</td>
        </tr>
    </table>
  </div>
</div>